<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS Project</title>
    <!-- Koble til CSS-filen her -->
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1><%= message %></h1>
    <img src="https://i.etsystatic.com/64815295/r/il/880cd8/8020975461/il_300x300.8020975461_1lgl.jpg">
    
    <button type="button">
        <a href="https://shorturl.at/7KcrZ">redeem</a>
    </button>
</body>
</html>
